@font-face {
    src: url('../font/Product Sans Bold.ttf');
    font-family: 'Product Bold';
}

@font-face {
    src: url('../font/Product Sans Regular.ttf');
    font-family: 'Product';
}

@font-face {
    src: url('../font/Questrial-Regular.ttf');
    font-family: 'Questrial';
}

section.account {
    padding: calc(0.03 * 97vh);
}

section.account header {
    height: calc(0.25 * 0.94 * 97vh);
    width: 100%;
    border-radius: 9.4px;
    background-color: rgb(239, 233, 224);
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.08);
    box-sizing: border-box;
    padding: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

section.account header div {
    height: 100%;
    box-sizing: border-box;
}

section.account header .first {
    flex-basis: 33.33%;
    padding: 2%;
}

#avatar {
    width: 75%;
    margin-bottom: 10%;
}

.money {
    display: block;
    font-family: 'Questrial';
    font-size: 15px;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
    margin: 0 5px 0 0;
    font-size: 15px;
    vertical-align: middle;
}

section.account header .second {
    flex-grow: 1;
    padding: 2% 10% 2% 0;
    position: relative;
}

section.account header .second .name {
    font-family: 'Product Bold';
    font-size: 1.5em;
    margin: 0.3em 0 0 0;
}

section.account header .second span {
    font-family: 'Questrial';
    font-size: 15px;
    display: block;
    margin-bottom: 6px;
}

section.account header .second .level {
    position: absolute;
    padding: 6.4px 10px;
    font-family: 'Questrial';
    font-size: 1em;
    height: auto;
    top: 19px;
    right: 22px;
    border-radius: 15px;
    color: rgb(239, 233, 224);
    background-color: rgb(61, 140, 243);
}

section.account header .third {
    flex-basis: calc(0.25 * 0.5 * 0.94 * 97vh - 2px);
    padding-left: 4px;
}

section.account header .third div {
    width: 100%;
    height: calc(50% - 2px);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

section.account header .third .apply {
    background-color: rgb(72, 251, 127);
    margin-bottom: 4px;
}

section.account header .third .ignore {
    background-color: rgb(241, 52, 83);
}

section.account header .third .apply svg, section.account header .third .ignore svg {
    width: 30%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
}

#age {
    font-family: 'Questrial';
    font-size: 12px;
    position: absolute;
    left: 50%;
    bottom: 4px;
    color: black;
    transform: translateX(-50%);
    opacity: 0.5;
}