@font-face {
    src: url('../font/Product Sans Bold.ttf');
    font-family: 'Product Bold';
}

@font-face {
    src: url('../font/Product Sans Regular.ttf');
    font-family: 'Product';
}

@font-face {
    src: url('../font/Questrial-Regular.ttf');
    font-family: 'Questrial';
}

section.account {
    padding: 0 calc(0.03 * 97vh);
}

section.account header {
    height: calc(0.235 * 97vh);
    width: 100%;
    border-radius: 9.4px;
    background-color: rgb(239, 233, 224);
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.08);
    box-sizing: border-box;
    padding: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 0 0 calc(0.03 * 97vh) 0;
}

section.account header div {
    height: 100%;
    box-sizing: border-box;
}

section.account header .first {
    flex-basis: 33.33%;
    padding: 2%;
}

#avatar {
    width: 75%;
    margin-bottom: 10%;
    opacity: 0;
    cursor: pointer;
    transform: scale(0.75);
    transition: transform ease-in-out 0.3s 0s, opacity ease-in-out 0.3s 0s;
}

#avatar.show {
    transform: scale(1);
    opacity: 1;
}

.money {
    display: block;
    font-family: 'Questrial';
    font-size: 2vh;
    line-height: 1em;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
    margin: 0 5px 0 0;
    font-size: 15px;
    vertical-align: middle;
}

section.account header .second {
    flex-grow: 1;
    padding: 2% 10% 2% 0;
    position: relative;
}

section.account header .second .name {
    font-family: 'Product Bold';
    font-size: 3vh;
    line-height: 1em;
    padding: 5% 0 0 0;
    margin: 0;
    outline: none;
}

section.account header .second>span {
    font-family: 'Questrial';
    font-size: 1.8vh;
    line-height: 1em;
    display: block;
    margin-bottom: 6px
}

section.account header .second>span>span {
    outline: none;
}

section.account header .second .level {
    position: absolute;
    padding: 6.4px 10px;
    font-family: 'Questrial';
    font-size: 1em;
    height: auto;
    border-radius: 19px;
    color: rgb(239, 233, 224);
    transform-origin: top;
    background-color: rgb(61, 140, 243);
}

section.account header .third {
    flex-basis: calc(0.25 * 0.5 * 0.94 * 97vh - 2px);
    padding-left: 4px;
    transition: opacity ease-in-out 0.3s;
    opacity: 0;
}

section.account header .third.show {
    opacity: 1;
}

section.account header .third div {
    width: 100%;
    height: calc(50% - 2px);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

section.account header .third .apply {
    background-color: rgba(72, 251, 126, 0);
    margin-bottom: 4px;
}

section.account header .third .apply:hover {
    background-color: rgba(52, 206, 98, 0.2);
}

section.account header .third .ignore {
    background-color: rgba(241, 52, 84, 0);
}

section.account header .third .ignore:hover {
    background-color: rgba(211, 46, 73, 0.2);
}

section.account header .third .apply svg, section.account header .third .ignore svg {
    width: 30%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
}

#age {
    font-family: 'Questrial';
    font-size: 1.5vh;
    line-height: 1em;
    position: absolute;
    left: 50%;
    bottom: 4px;
    color: black;
    transform: translateX(-50%);
    opacity: 0.5;
}

section.account header .edit {
    width: calc(0.05 * 97vh);
    height: calc(0.05 * 97vh);
    background: transparent;
    opacity: 0.5;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 0 0 9.4px 0;
    border: none;
    transform: scale(1);
    transition: opacity ease-in-out 0.1s, transform ease-in-out 0.1s;
    outline: none;
}

section.account header .edit:hover {
    opacity: 1;
}

section.account header .edit.hide {
    opacity: 0;
    transform: scale(0);
}

section.account .friends {
    height: calc(0.705 * 97vh);
    width: 100%;
    border-radius: 9.4px 9.4px 0 0;
    background-color: rgb(239, 233, 224);
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.08);
    box-sizing: border-box;
    display: flex;
    padding: 4px;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    margin: 0 0 calc(0.03 * 97vh) 0;
    overflow-x: hidden;
}

section.account .friends::-webkit-scrollbar {
    display: none;
}

section.account .friends h1 {
    border-radius: 6px;
    height: 7vh;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Product Bold';
    font-size: 3vh;
    line-height: 1em;
    padding: 2vh 0;
    margin: 0;
    background-color: #122948;
    color: rgb(239, 233, 224);
    margin-bottom: 1vh;
}

section.account .friends ol {
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    padding: 1vh 1vh 0 1vh;
    width: 100%;
    transition: height ease-in-out 0.3s 0s;
}

section.account .friends ol .item {
    width: 100%;
    height: 6vh;
    padding: 0.5vh 1vh;
    box-sizing: border-box;
    margin: 0 0 1vh 0;
    background-color: rgba(18, 41, 72, 0.204);
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    text-align: left;
    opacity: 1;
    cursor: pointer;
    position: relative;
    transition: height ease-in-out 0.3s 0s, opacity ease-in-out 0.2s 0s;
}

section.account .friends ol .item.hide {
    height: 0;
    opacity: 0;
}

section.account .friends ol .item:hover {
    background-color: #122948;
}

section.account .friends ol .item img {
    height: 100%;
    width: auto;
    margin-right: 1vh;
}

section.account .friends ol .item h2 {
    display: inline;
    text-align: left;
    font-family: 'Questrial';
    font-size: 2.5vh;
    line-height: 1em;
    margin: 0;
    flex-grow: 1;
    transform: translateY(1px);
}

section.account .friends ol .item:hover h2 {
    color: rgb(239, 233, 224);
}

section.account .friends ol .item .delete {
    background: transparent;
    flex-basis: 50%;
    height: calc(100% + 1vh);
    transform: translateX(1vh);
    position: relative;
}

section.account .friends ol .item .delete div {
    background-color: rgb(241, 52, 83);
    position: absolute;
    right: -1px;
    bottom: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(110%);
    transition: transform ease-in-out 0.3s;
}

section.account .friends ol .item .delete div span {
    font-family: 'Product Bold';
    color: rgb(239, 233, 224);
    font-size: 2vh;
    line-height: 1em;
}

section.account .friends ol .item .delete:hover div {
    transform: translateX(0);
}