body {
    margin: 0;
    padding: 0;
}

body>section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at 100% 0,#fed96f 0,#fabd69 50%,#f98e4a 115%);
    overflow: hidden;
}

body>section>aside {
    width: calc(0.075 * 97vh);
    height: 97vh;
    position: relative;
    margin-right: 2px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

body>section>aside>nav {
    background-color: rgb(238, 238, 238);
    opacity: 0.5;
    width: 100%;
    cursor: pointer;
    transition: opacity ease-in-out 0.1s, transform ease-in-out 0.3s, flex-basis ease-in-out 0.3s;
    position: relative;
    border-radius: 10px;
    flex-basis: 0;
    overflow: hidden;
    transform: scale(0);
    transform-origin: bottom center;
}

body>section>aside>nav:hover {
    opacity: 0.9;
}

body>section>aside>nav.show {
    flex-basis: calc(0.075 * 97vh);
    margin-top: 2px;
    transform: scale(1);
}

body>section>aside>nav:first-child {
    margin-top: 0;
    flex-grow: 1;
}

body>section>aside>nav>svg {
    fill: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: calc(0.4 * 0.075 * 97vh);
    top: calc(0.3 * 0.075 * 97vh);
    left: calc(0.3 * 0.075 * 97vh);
}

body>section>main {
    height: 97vh;
    width: calc(0.7 * 97vh);
    display: block;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.9);
    overflow: hidden;
    border-radius: 10px;
}

body>section>main>section {
    width: 100%;
    overflow: hidden;
    background: transparent;
    position: relative;
    display: block;
    box-sizing: border-box;
    transition: transform linear 0.3s;
    opacity: 0;
    height: 0;
    transform: translateY(5%) scale(1.05);
}

.page {
    opacity: 1;
    transform: translateY(0) scale(1);
    height: 100%;
}