.dots-and-boxes-page {
    background-color: #2f2822;
}



.players-score, .scores{
    display: flex;
}

.players-score {
    transform: translateY(60%);
    width: 65%;
    height: 45px;
    margin: 0 auto 15vh;
}

.user1-score {
    display: flex;
    width: 30%;
    height: 35px;
    border: #4cf38b 1px solid;
    background-color: #2d2c34;
    border-radius: 8px 0 0 8px;
    color: #fff;
    margin: auto;
}

.user1-score span, .user2-score span {
    display: flex;
    vertical-align: middle;
    alignment: center;
    margin: auto;
}

.user2-score {
    display: flex;
    width: 30%;
    height: 35px;
    border: #2963f6 1px solid;
    background-color: #2d2c34;
    border-radius: 0 8px 8px 0;
    color: #ffffff;
    margin: auto;
}

.user1-score span, .user2-score span {
    margin-top: 5px;
    margin-left: 14px;
}

.scores {
    width: 40%;
    height: 45px;
    background-color: #4cf38b;
    border-radius: 6px;
}

.scores div:first-child, .scores div:last-child {
    width: 100%;
}

#player1-score, #player2-score {
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
}

/*
#DB-canvas {
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-15vw) translateY(23vh)
}*/
