@font-face {
    src: url('../font/Product Sans Bold.ttf');
    font-family: 'Product Bold';
}

@font-face {
    src: url('../font/Product Sans Regular.ttf');
    font-family: 'Product';
}

@font-face {
    src: url('../font/Questrial-Regular.ttf');
    font-family: 'Questrial';
}

section.event-page {
    padding: calc(0.03 * 97vh);
}

.event-header-img {
    display: block;
    float: left;
    width: 100%;
    height: calc(0.25 * 0.94 * 97vh);
}

.event-header-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

section.event-page .money {
    display: block;
    font-family: 'Questrial';
    color: #485460;
    font-size: 30px;
}

section.event-page .box {
    /*height: calc(0.25 * 0.94 * 97vh);*/
    height: 550px;
    width: 100%;
    border-radius: 9.4px;
    background-color: rgb(221, 217, 210);
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.08);
    box-sizing: border-box;
    padding: 4px;
    display: block;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.event-body {
    display: block;
    float: left;
    clear: both;
}

.first-prize img {
    width: 80px;
    height: 80px;
}

.second-prize img {
    width: 80px;
    height: 80px;
}

.first-prize, .second-prize {
    display: flex;
}
.first-prize {
    margin-left: 85px;
    margin-bottom: 20px;
}

.second-prize {
    margin-left: 90px;
}

.first-prize span, .second-prize span {
    transform: translateY(35%) translateX(25%);
}

.event-buttons {
    margin-top: 50px;
    margin-left: 80px;
}

.event-buttons button {
    width: 100%;
    height: 40px;
    display: block;
    margin: 8px;
    font-family: 'Product Bold';
    font-size: 15px;
}

.event-buttons .join {
    background-color: #05c46b;
}

.event-buttons .join:hover {
    background-color: #0be881;
    cursor: pointer;
}

.event-buttons .edit {
    background-color: #ffd32a;
}

.event-buttons .edit:hover {
    background-color: #ffdd59;
    cursor: pointer;
}

.event-buttons .leave {
    background-color: #ff3f34;
}

.event-buttons .leave:hover {
    background-color: #ff5e57;
    cursor: pointer;
}