@font-face {
    src: url('../font/Product Sans Bold.ttf');
    font-family: 'Product Bold';
}

@font-face {
    src: url('../font/Product Sans Regular.ttf');
    font-family: 'Product';
}

@font-face {
    src: url('../font/Questrial-Regular.ttf');
    font-family: 'Questrial';
}

section.messageBox {
    padding: calc(0.03 * 97vh);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Product Bold";
}

.chat-box {
    width: 400px;
    min-width:400px;
    height: 500px;
    background-color: white;
    padding: 25px;
    margin: auto;
    box-shadow: 0 1px #ccc;
}

.chat-title {
    background: #66CDAA;
    text-align: center;
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 10px;
    color: #000000;
}
.chat-logs {
    padding: 10px;
    width: 100%;
    height: 325px;
    border-radius: 7px;
    background: #F0FFFF;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-logs::-webkit-scrollbar {
    width: 5px;
}

.chat-logs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: lightgray;
}

.chat-friend {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 15px;
}

.chat-friend >.user-photo {
    width: 40px;
    height: 40px;
    margin: 5px 5px 0;
    background-color: #90EE90;
    border-radius: 50%;
    overflow: hidden;
}

.chat-friend >.chat-message {
    width: 70%;
    padding: 10px;
    margin: 5px 5px 0;
    border-radius: 7px;
    color: #000;
    font-size: 14px;
    background-color: skyblue;
}

.chat-self {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 15px;
    justify-content: flex-end;
}

.chat-self >.user-photo {
    width: 40px;
    height: 40px;
    background-color: #D3D3D3;
    margin: 5px 5px 0;
    border-radius: 50%;
    overflow: hidden;
}

.chat-self >.chat-message {
    width: 70%;
    padding: 10px;
    margin: 5px 5px 0;
    border-radius: 7px;
    color: #000;
    font-size: 14px;
    background-color: lightgreen;
    order: -1;
}

.user-photo {
    width: 100%;
}

#user-image {
    width: 40px;
    height: 40px;
}

.chat-form {
    margin-top: 16px;
    display: flex;
    align-items: flex-start;
}

.chat-form > textarea {
    width: 100%;
    height: 40px;
    border: 2px solid #C0C0C0;
    resize: none;
    border-radius: 3px;
    padding: 8px;
    font-size: 14px;
    color: #000000;
}

.chat-form > textarea:focus {
    background-color: aliceblue;
}

.chat-form > button {
    background-color: #4CBB17;
    padding: 5px 15px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: 1s;
}

.chat-form > button:hover {
    background: #98FB98;
    color: #355E3B;
}

.time {
    display: block;
    margin: 8px 0 0;
}
