@font-face {
    src: url(../font/Redressed-Regular.ttf);
    font-family: Redressed;
}

@font-face {
    src: url('../font/Product Sans Bold.ttf');
    font-family: 'Product Bold';
}

@font-face {
    src: url('../font/Product Sans Regular.ttf');
    font-family: 'Product';
}

section.primary .player header {
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: center;
    padding: calc(0.0155 * 97vh) 0;
    flex-flow: column nowrap;
    align-items: center;
}

section.primary .player header .search {
    outline: none;
    border: none;
    border-bottom: 2px solid #222026;
    color: #222026;
    font-family: 'Product';
    width: 33.33%;
    height: calc(0.045 * 97vh);
    text-align: center;
    background: transparent;
    font-size: calc(0.4 * 0.7 * 0.075 * 97vh);
    opacity: 0.5;
    transition: opacity ease-in-out 0.1s;
}

section.primary .player header .search:hover, section.primary .player header .search:focus {
    opacity: 1;
}

section.primary .player header ol {
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    width: 33.33%;
    background-color: #efeae1;
    z-index: 10;
    border: 1px solid #888583;
    padding: 5px;
    border-radius: 0 0 9.4px 9.4px;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.08);
    visibility: hidden;
}

section.primary .player header ol .item {
    width: 100%;
    height: 4vh;
    padding: 0.5vh 1vh;
    box-sizing: border-box;
    margin: 0;
    background-color: rgba(18, 41, 72, 0.05);
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    position: relative;
}

section.primary .player header ol .item:hover {
    background-color: rgb(18, 41, 72);
}

section.primary .player header ol .item img {
    height: 100%;
    width: auto;
    margin-right: 1vh;
    transform-origin: center;
    transform: scale(0.9);
    transition: transform ease-in-out 0.1s;
}

section.primary .player header ol .item:hover img {
    transform: scale(1);
}

section.primary .player header ol .item h2 {
    display: inline;
    text-align: center;
    font-family: 'Questrial';
    font-size: 2vh;
    line-height: 1em;
    margin: 0;
    flex-grow: 1;
}

section.primary .player header ol .item:hover h2 {
    color: rgb(239, 233, 224);
}

section.primary .player .favorites {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 2vh;
    justify-content: space-between;
    align-items: center;
    gap: 2vh;
    transform: translateY(-5vh);
}

section.primary .player .favorites div {
    height: 6vh;
    border-radius: 1vh;
    flex-grow: 1;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -37px;
    position: relative;
}

section.primary .player .favorites div:hover {
    filter: brightness(0.9);
}

section.primary .player .favorites .battle {
    background-image: url('../jpg/sea\ battle.jpg');
}

section.primary .player .favorites .dots {
    background-image: url('../jpg/dots\ and\ boxes.jpeg');
}

section.primary .player .favorites div div {
    height: 4vh;
    width: 4vh;
    box-sizing: border-box;
    padding: 1vh;
    background-color: rgb(239, 233, 224);
    border-radius: 6px;
    position: absolute;
    left: 2vh;
    top: -2vh;
}

section.primary .player .favorites div div svg {
    width: 2vh;
    height: 2vh;
    fill: #f9b060;
}

section.primary .player .favorites div span {
    font-family: Redressed;
    font-size: 3vh;
    line-height: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    color: rgb(239, 233, 224);
    text-shadow: 0 0 6px rgba(61, 61, 61, 0.699);
    text-decoration: underline;
}

section.primary .player .events {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    width: 100%;
    padding: 2vh 7vh;
    gap: 7vh;
    background: transparent;
    transform: translateY(15vh);
}

section.primary .player .events::-webkit-scrollbar {
    display: none;
}

section.primary .player .events section {
    flex-grow: 1;
}

section.primary .player .events section .card {
    width: 100%;
    height: auto;
    border-radius: 5px;
    position: relative;
    transform-origin: bottom center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    transition: transform linear 0.2s;
    overflow: hidden;
    cursor: pointer;
}

section.primary .player .events section .card .cover {
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: visibility ease-in-out 0.1s;
    backdrop-filter: blur(6px);
    border-radius: 5px;
}

section.primary .player .events section .card .cover span {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Questrial';
    font-size: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: bold;
}

section.primary .player .events .dots .card {
    background-color: #6d6af7;
}

section.primary .player .events .battle .card {
    background-color: #f55a5a;
}

section.primary .player .events .dots .card:nth-child(1) {
    transform: rotate(1.6deg) translateX(0.5vh);
}

section.primary .player .events .dots .card:nth-child(1):hover {
    transform: translateY(-80%);
}

section.primary .player .events .dots .card:nth-child(2) {
    transform: translateY(-80%) rotate(2deg) translateX(-0.5vh);
}

section.primary .player .events .dots .card:nth-child(2):hover {
    transform: translateY(-160%);
}

section.primary .player .events .battle .card:nth-child(1):hover {
    transform: translateY(-80%);
}

section.primary .player .events .battle .card:nth-child(2) {
    transform: translateY(-80%) rotate(2.5deg) translateX(-0.5vh);
}

section.primary .player .events .battle .card:nth-child(2):hover {
    transform: translateY(-160%);
}

section.primary .player .events section .card>span {
    font-family: 'Product Bold';
    font-size: 1.5vh;
    line-height: 1em;
    text-align: center;
    display: block;
    padding: 0.5vh 0;
    color: black;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.5);
}

section.primary .player .events .dots .card>span {
    float: left;
}

section.primary .player .events .battle .card>span {
    float: right;
}

section.primary .player .events section .card .info {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-flow: column nowrap;
    color: rgb(239, 233, 224);
}

section.primary .player .events section .card .info>span {
    font-family: 'Questrial';
    font-weight: bold;
    font-size: 6vh;
}


section.primary .player .events section .card .info>div {
    font-family: monospace;
    height: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding-bottom: 5px;
    flex-grow: 1;
}

section.primary .player .events section .card .info>div span span:nth-child(1) {
    font-size: 1.5vh;
    display: block;
    background-color: rgba(0, 0, 0, 0.11);
}

section.primary .player .events section .card .info>div span span:nth-child(2) {
    font-size: 2vh;
    display: block;
    background-color: rgba(0, 0, 0, 0.11);
}

section.primary .player .events section .card .info>div svg {
    padding: 2px 0;
    height: 10%;
}

/*
** here
** player's
** primary
** page
** finished
*/

section.primary .admin {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    padding: 0 calc(0.03 * 97vh);
}

section.primary .admin .players {
    height: calc(0.455 * 97vh);
    width: 100%;
    border-radius: 9.4px;
    background-color: rgb(239, 233, 224);
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.08);
    box-sizing: border-box;
    display: flex;
    padding: 4px;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    margin: calc(0.03 * 97vh) 0 calc(0.03 * 97vh) 0;
    overflow-x: hidden;
}

section.primary .admin .players::-webkit-scrollbar {
    display: none;
}

section.primary .admin .players input {
    border-radius: 6px;
    height: 7vh;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Product Bold';
    font-size: 3vh;
    line-height: 1em;
    padding: 2vh 0;
    margin: 0;
    background-color: #122948;
    color: rgb(239, 233, 224);
    margin-bottom: 1vh;
    border: none;
    outline: none;
    text-align: center;
}

section.primary .admin .players input::placeholder {
    color: rgba(239, 233, 224, 0.753);
}

section.primary .admin .players ol {
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    padding: 1vh 1vh 0 1vh;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 1vh;
}

section.primary .admin .players ol .item {
    flex-basis: 40%;
    flex-grow: 1;
    height: 6vh;
    padding: 0.5vh 1vh;
    box-sizing: border-box;
    background-color: rgba(18, 41, 72, 0.204);
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    text-align: left;
    cursor: pointer;
    position: relative;
}

section.primary .admin .players ol .item:hover {
    background-color: #122948;
}

section.primary .admin .players ol .item img {
    height: 100%;
    width: auto;
    margin-right: 1vh;
}

section.primary .admin .players ol .item h2 {
    display: inline;
    text-align: left;
    font-family: 'Questrial';
    font-size: 2.5vh;
    line-height: 1em;
    margin: 0;
    flex-grow: 1;
    transform: translateY(1px);
}

section.primary .admin .players ol .item:hover h2 {
    color: rgb(239, 233, 224);
}

section.primary .admin header {
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: center;
    padding: calc(0.0155 * 97vh) 0;
    flex-flow: column nowrap;
    align-items: center;
}

section.primary .admin header .search {
    outline: none;
    border: none;
    border-bottom: 2px solid #222026;
    color: #222026;
    font-family: 'Product';
    width: 33.33%;
    height: calc(0.045 * 97vh);
    text-align: center;
    background: transparent;
    font-size: calc(0.4 * 0.7 * 0.075 * 97vh);
    opacity: 0.5;
    transition: opacity ease-in-out 0.1s;
}

section.primary .admin header .search:hover, section.primary .admin header .search:focus {
    opacity: 1;
}

section.primary .admin .events {
    height: calc(0.455 * 97vh);
    width: 100%;
    border-radius: 9.4px;
    background-color: rgb(239, 233, 224);
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.08);
    box-sizing: border-box;
    display: flex;
    padding: 4px;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 0 calc(0.03 * 97vh) 0;
}

section.primary .admin .events::-webkit-scrollbar {
    display: none;
}

section.primary .admin .events h1 {
    border-radius: 6px;
    height: 7vh;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Product Bold';
    font-size: 3vh;
    line-height: 1em;
    padding: 2vh 0;
    margin: 0;
    background-color: #122948;
    color: rgb(239, 233, 224);
    margin-bottom: 1vh;
}

section.primary .admin .events .games {
    flex-basis: 50%;
    padding: 4vh;
    margin-top: 2vh;
    box-sizing: border-box;
    max-height: 70vh;
}


section.primary .admin .events .template {
    flex-basis: 50%;
    box-sizing: border-box;
    max-height: 31vh;
    border-radius: 5px;
    background-color: rgb(208, 208, 208);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    overflow: hidden;
    position: relative;
    margin-top: 2vh;
}

section.primary .admin .events .template input {
    outline: none;
    border: none;
    padding: 0.5em;
    background-color: rgb(226, 226, 226);
    color: rgb(32, 32, 32);
    border-radius: 5px;
    font-family: 'Questrial';
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}

section.primary .admin .events .template input::placeholder {
    opacity: 0.5;
}

section.primary .admin .events .template .game {
    width: 50%;
    font-size: 2vh;
    line-height: 1.5em;
    text-align: center;
    display: block;
    padding: 0.33vh 0;
    float: left;
}

section.primary .admin .events .template .info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    color: rgb(239, 233, 224);
}

section.primary .admin .events .template button {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'Product Bold';
    font-size: 3vh;
    padding: 1vh 0;
    border: none;
    outline: none;
    background-color: rgb(41, 193, 122);
    color: white;
    cursor: pointer;
}

section.primary .admin .events .template button:hover {
    background-color:  rgb(38, 184, 115);
}

section.primary .admin .events .template .info .prize {
    margin: 1vh 0;
    width: 70%;
    font-size: 4vh;
    line-height: 1em;
}

section.primary .admin .events .template .info svg {
    width: 5%;
    fill: #7b7b7b;
    margin: 1vh 0;
}

section.primary .admin .events .template .info .start,
section.primary .admin .events .template .info .finish {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 70%;
    color: rgb(32, 32, 32);
    line-height: 1.4em;
}

section.primary .admin .events .template .info .start input,
section.primary .admin .events .template .info .finish input {
    width: 50px;
    flex-grow: 1;
}

section.primary .admin .events .games .card {
    width: 100%;
    height: 17vh;
    border-radius: 5px;
    position: relative;
    transform-origin: bottom center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    transition: transform linear 0.2s;
    overflow: hidden;
    cursor: pointer;
}

section.primary .admin .events .games .card .cover {
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: visibility ease-in-out 0.1s;
    backdrop-filter: blur(6px);
    border-radius: 5px;
}

section.primary .admin .events .games .card .cover span {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Questrial';
    font-size: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: bold;
}

section.primary .admin .events .games .dots {
    background-color: #6d6af7;
}

section.primary .admin .events .games .battle {
    background-color: #f55a5a;
}

section.primary .admin .events .games .card:nth-child(1):hover {
    transform: translateY(-80%);
}

section.primary .admin .events .games .card:nth-child(2) {
    transform: translateY(-80%);
}

section.primary .admin .events .games .card:nth-child(2):hover {
    transform: translateY(-160%);
}

section.primary .admin .events .games .card:nth-child(3) {
    transform: translateY(-160%);
}

section.primary .admin .events .games .card:nth-child(3):hover {
    transform: translateY(-240%);
}

section.primary .admin .events .games .card:nth-child(4) {
    transform: translateY(-240%);
}

section.primary .admin .events .games .card:nth-child(4):hover {
    transform: translateY(-320%);
}

section.primary .admin .events .games .card:nth-child(5) {
    transform: translateY(-320%);
}

section.primary .admin .events .games .card:nth-child(5):hover {
    transform: translateY(-400%);
}

section.primary .admin .events .games .card:nth-child(6) {
    transform: translateY(-400%);
}

section.primary .admin .events .games .card:nth-child(6):hover {
    transform: translateY(-480%);
}

section.primary .admin .events .games .card:nth-child(7) {
    transform: translateY(-480%);
}

section.primary .admin .events .games .card:nth-child(7):hover {
    transform: translateY(-560%);
}

section.primary .admin .events .games .card>span {
    font-family: 'Product Bold';
    font-size: 1vh;
    line-height: 1em;
    text-align: center;
    display: block;
    padding: 0.33vh 0;
    color: black;
    float: left;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.5);
}

section.primary .admin .events .games .card .info {
    width: 100%;
    height: 14vh;
    display: flex;
    flex-flow: column nowrap;
    color: rgb(239, 233, 224);
}

section.primary .admin .events .games .card .info>span {
    font-family: 'Questrial';
    font-weight: bold;
    font-size: 4vh;
}


section.primary .admin .events .games .card .info>div {
    font-family: monospace;
    height: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding-bottom: 3.33px;
    flex-grow: 1;
}

section.primary .admin .events .games .card .info>div span span:nth-child(1) {
    font-size: 1vh;
    display: block;
    background-color: rgba(0, 0, 0, 0.11);
}

section.primary .admin .events .games .card .info>div span span:nth-child(2) {
    font-size: 1.4vh;
    display: block;
    background-color: rgba(0, 0, 0, 0.11);
}

section.primary .admin .events .games .card .info>div svg {
    padding: 2px 0;
    height: 10%;
}