@font-face {
    src: url(../font/Redressed-Regular.ttf);
    font-family: Redressed;
}

@font-face {
    src: url('../font/Product Sans Bold.ttf');
    font-family: 'Product Bold';
}

@font-face {
    src: url('../font/Product Sans Regular.ttf');
    font-family: 'Product';
}

.primary header {
    display: flex;
    width: 100%;
    height: calc(0.075 * 97vh);
    background-color: transparent;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
}

.primary header .search {
    outline: none;
    border: none;
    border-bottom: 2px solid #222026;
    color: #222026;
    font-family: 'Product';
    width: 33.33%;
    height: 50%;
    text-align: center;
    background: transparent;
    font-size: calc(0.4 * 0.7 * 0.075 * 97vh);
    opacity: 0.5;
    transition: opacity ease-in-out 0.1s;
}

.primary header .search:hover, .primary header .search:focus {
    opacity: 1;
}