@font-face {
    src: url(../font/Redressed-Regular.ttf);
    font-family: Redressed;
}

@font-face {
    src: url('../font/Product Sans Bold.ttf');
    font-family: 'Product Bold';
}

@font-face {
    src: url('../font/Product Sans Regular.ttf');
    font-family: 'Product';
}

section.register h1,
section.login h1 {
    font-family: Redressed;
    font-size: calc(0.075 * 97vh);
    line-height: calc(0.075 * 97vh);
    color: rgb(34, 32, 38);
    padding: 0.5em;
    margin: 0;
}

section.register form,
section.login form {
    width: calc(0.7 * 97vh);
    box-sizing: border-box;
    position: relative;
    margin: calc(0.2 * 0.7 * 97vh) 0;
    padding: 0 calc(0.1 * 0.7 * 97vh);
    text-align: left;
}

section.register form ol,
section.login form ol {
    font-family: 'Product Bold';
    margin: 0;
    padding: 0;
    list-style: none;
}

section.register form ol::before,
section.login form ol::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.8);
    width: calc(0.8 * 0.7 * 97vh);
    height: calc(0.075 * 97vh);
    position: absolute;
    bottom: -3px;
    box-sizing: content-box;
    border-radius: 5px 5px 0 0;
    border-bottom: 3px solid rgba(177, 177, 177, 0.8);
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
}

section.register form ol .item,
section.login form ol .item {
    position: relative;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

section.register form ol .item.show,
section.login form ol .item.show {
    height: auto;
    visibility: visible;
}

section.register form ol .item label,
section.login form ol .item label {
    display: block;
    padding: 5px 10px;
    color: rgba(34, 32, 38, 0.5);
    font-size: calc(0.25 * 0.075 * 97vh);
    opacity: 1;
    transform-origin: top center;
    transform: translateY(-100%);
    transition: transform ease-in-out 0.3s, opacity ease-in-out 0.3s;
}

section.register form ol .item.show label,
section.login form ol .item.show label {
    transform: translateY(0);
}

section.register form ol .item label span,
section.login form ol .item label span {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: calc(0.2 * 0.075 * 97vh);
}

section.register form ol .item input,
section.login form ol .item input {
    box-sizing: border-box;
    width: calc(0.485 * 97vh);
    height: calc(0.075 * 97vh);
    border: none;
    outline: none;
    padding: 0 0 0 15px;
    border-radius: 5px 0 0 0;
    background: transparent;
    font-family: Product;
    font-size: calc(0.35 * 0.075 * 97vh);
    color: #464646;
}

section.register form .next,
section.login form .next {
    width: calc(0.075 * 97vh);
    height: calc(0.075 * 97vh);
    background: transparent;
    opacity: 0.5;
    position: absolute;
    right: calc(0.1 * 0.7 * 97vh);
    bottom: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 0 5px 0 0;
    border: none;
    transition: opacity 0.1s, transform 0.3s, visibility 0.3s;
    outline: none;
    visibility: hidden;
    transform: translateX(-10px);
}

section.register form .next:hover,
section.login form .next:hover {
    opacity: 1;
}

section.register form .next.show,
section.login form .next.show {
    transform: translateX(0);
    visibility: visible;
}

section.register form .progress,
section.login form .progress {
    position: absolute;
    width: calc(0.8 * 0.7 * 97vh);
    height: 3px;
    background-color: #464646;
    bottom: -3px;
    transition: transform 0.4s;
    transform-origin: left center;
    transform: scaleX(0);
}

section.register form .message,
section.login form .message {
    font-family: Product;
    color: rgba(255, 59, 85, 0.8);
    font-size: calc(0.25 * 0.075 * 97vh);
    position: absolute;
    transform: translateY(20px);
    font-style: italic;
    transition: opacity 0.4s;
    opacity: 0;
}

section.register form .message.show,
section.login form .message.show {
    opacity: 1;
}