@font-face {
    src: url('../font/Questrial-Regular.ttf');
    font-family: 'Questrial';
}

section.battle {
    perspective: 800px;
}

section.battle>section {
    box-sizing: border-box;
    width: calc(0.630 * 97.0vh);
    height: calc(0.070 * 97.0vh);
    position: absolute;
    left: calc(50% - 0.3150 * 97.0vh);
    top: calc(0.0350 * 97.0vh);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: calc(0.010 * 97.0vh);
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

section.battle>section .host,
section.battle>section .guest {
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    background: transparent;
    overflow: hidden;
    transition: background-color 0.1s;
}

section.battle>section .turn {
    position: relative;
    background-color: rgba(130, 255, 46, 0.2);
}

section.battle>section .host .timer,
section.battle>section .guest .timer {
    background: transparent;
    transition: background-color 0.1s;
}

section.battle>section .host.turn .timer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100%;
    background-color: rgba(130, 255, 46, 0.2);
    transition: right linear 0.3s 0s;
}

section.battle>section .host.turn .timer.start {
    right: 0;
    transition: right linear 5s 0s;
}

section.battle>section .guest.turn .timer {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(130, 255, 46, 0.2);
}

section.battle>section .host img,
section.battle>section .guest img {
    flex-grow: 0;
    height: calc(0.056 * 97.0vh);
    padding: 0 calc(0.007 * 97.0vh);
}

section.battle>section .host span,
section.battle>section .guest span {
    flex-grow: 1;
    padding: 0 calc(0.007 * 97.0vh);
    font-size: 2.5vh;
    line-height: 1em;
    font-family: 'Questrial';
    color: white;
}

section.battle>section .host span {
    text-align: left;
}

section.battle>section .guest span {
    text-align: right;
}

section.battle .board {
    width: calc(0.380 * 97.0vh);
    opacity: 0;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid white;
    position: absolute;
    left: calc(50% - 0.19 * 97.0vh);
    transform: scale(0.75);
    transition: opacity ease-in-out 0.3s 0s, transform ease-in-out 0.3s 0s;
    bottom: calc(0.42 * 97.0vh);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0);
}

section.battle .board.me {
    width: calc(0.560 * 97.0vh);
    opacity: 1;
    perspective: 400px;
    transform-origin: bottom;
    left: calc(50% - 0.28 * 97.0vh);
    bottom: calc(0.07 * 97.0vh);
    transform: rotateX(0deg);
    transition: transform 0.3s, box-shadow 0.3s;
}

section.battle .board.show {
    opacity: 1;
    transform: scale(1);
}

section.battle .board .cell {
    flex-basis: calc(0.0370 * 97.0vh);
    max-width: calc(0.0380 * 97.0vh);
    height: calc(0.0380 * 97.0vh);
    box-sizing: border-box;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.919);
    border: 1px solid white;
    transition: background-color 0.3s, height 0.3s;
    cursor: pointer;
}

section.battle .board.me .cell {
    background-color: rgba(255, 255, 255, 0.6);
    flex-basis: calc(0.0550 * 97.0vh);
    max-width: calc(0.0560 * 97.0vh);
    height: calc(0.0560 * 97.0vh);
    cursor: default;
}

section.battle .board .cell.selected {
    background-color: rgba(127, 127, 127, 0.6);
    animation-name: update ;
    animation-timing-function: ease;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

@keyframes update {
    0%   {transform: scale(1);}
    50%  {transform: scale(0.9);}
    100%  {transform: scale(1);}
}

section.battle .board .cell.destroyed {
    background-color: rgba(255, 0, 0, 0.6);
}

section.battle .board .cell.empty {
    background-color: transparent;
}

section.battle .board .message {
    position: absolute;
    left: 50%;
    top: calc(0.5 * 0.0560 * 97.0vh);
    transform: translateX(-50%) translateY(-50%) scale(0.9);
    padding: 1vh 1.5vh;
    font: 1.75vh 'Questrial';
    color: white;
    background-color: black;
    border-radius: 2vh;
    opacity: 0;
    margin: 0;
    white-space: nowrap;
    visibility: hidden;
    transition: opacity 0.3s, transform 0.3s;
    cursor: default;
    text-decoration: none;
}

section.battle .board .message.show {
    opacity: 0.75;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

section.battle .board .start {
    width: calc(4.0 * 0.0560 * 97.0vh);
    height: calc(4.0 * 0.0560 * 97.0vh);
    position: absolute;
    left: calc(3.0 * 0.0560 * 97.0vh);
    bottom: 0;
    background-color: rgba(70, 216, 101, 1);
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

section.battle .board .start:hover {
    background-color: rgb(62, 208, 93);
}

section.battle .board .start.show {
    opacity: 1;
}

section.battle .board .start span {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    font-family: 'Product Bold';
    font-size: 4vh;
    line-height: 1em;
    color: white;
}

section.battle .board img {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s;
    bottom: 0;
    left: 0;
    transition: opacity ease-in-out 0.3s 0s;
}

section.battle .board img.show {
    opacity: 1;
}

section.battle .board img.xl {
    width: calc(4 * 0.0560 * 97.0vh);
    transform-origin: calc(0.0560 * 97.0vh) calc(100% - 0.0560 * 97.0vh);
}

section.battle .board img.l {
    width: calc(4 * 0.0560 * 97.0vh);
    transform-origin: calc(0.0560 * 97.0vh) calc(100% - 0.0560 * 97.0vh);
}

section.battle .board img.m {
    width: calc(4 * 0.0560 * 97.0vh);
    transform-origin: calc(0.5 * 0.0560 * 97.0vh) calc(100% - 0.5 * 0.0560 * 97.0vh);
}

section.battle .board img.s {
    width: calc(2 * 0.0560 * 97.0vh);
    transform-origin: calc(0.5 * 0.0560 * 97.0vh) calc(100% - 0.5 * 0.0560 * 97.0vh);
}

section.battle .control {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Questrial';
    font-size: 1.5vh;
    position: absolute;
    bottom: calc(0.035 * 97.0vh);
    transform: translateY(50%);
    width: 100%;
    text-align: center;
    cursor: default;
}

section.battle .control .area {
    transition: color 0.1s;
}

section.battle .control .area.used {
    color: rgba(255, 255, 255, 1);
}

#rearrange, #randomarrange {
    cursor: pointer;
}

#rearrange:hover, #randomarrange:hover {
    color: rgba(255, 255, 255, 1);
}

#canvas {
    position: absolute;
    box-sizing: border-box;
    cursor: crosshair;
}